.alert-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

hr{
  color: #000;
}

.modal-title {
  color: rgb(255, 0, 0);
  font-size: 18px;
}

.close-button {
  background: rgb(83, 83, 255);
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 15;
  color: #000;
  padding: 0;
}
.close{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #000;
    padding: 0;
}

.modal-body {
  margin-bottom: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.close-button:focus {
  outline: none;
}
