/* You can add global styles to this file, and also import other style files */
button{
  text-transform: capitalize;
}
h1,h2,h3,h4,h5,h6
{
 text-transform: capitalize;
}

.help-text{
  color: rgb(249, 7, 7,0.5);
  text-transform: capitalize;
}

form label{
  text-transform: capitalize;
}
input.ng-invalid.ng-touched,textarea.ng-invalid.ng-touched {
  border: 1px solid rgb(255, 0, 0,0.5);
  background-color: rgba(255, 0, 0, 0.05);
}
